@font-face {
    font-family: "Segoe UI";
    src: url("./assets/fonts/SegoeUI.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}